# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html>
<head>
	<title>Desafio Eliti #4</title>
</head>
<body>
	<h1>André Heriberto Schmitt</h1>
	<p>Gostaria muito de fazer parte desse incrível projeto, pois desde 
    que meu irmão começou a trabalhar na área de TI, eu me interessei pela
    programação, mas agora quero dar um passo a mais e fazer a diferença.</p>
</body>
</html>
